#App {
  width: 512px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 60px;
}

.ListItemContainer {
  height: 64px;
  width: 100%;
  position: relative;
  transition: 0.1s;
  user-select: none;
}

.ListItemContainer:hover {
  filter: brightness(0.98);
}

.ListItem {
  background-color: #f8f8f8;
  color: #101010;
  height: 48px;
  width: 100%;
  position: absolute;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px #e8e8e8;
}

.ListItem:active {
  top: 3px;
  box-shadow: 0px 4px 0px 0px #e8e8e8;
}

.ListItemDone {
  background-color: #f1f8e9;
  color: #689f38;
  height: 48px;
  width: 100%;
  position: absolute;
  top: 0px;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px #dcedc8;
}

.ListItemDone:active {
  top: 3px;
  box-shadow: 0px 4px 0px 0px #dcedc8;
}

.ListItemText {
  font-size: 110%;
  position: absolute;
  top: 50%;
  transform: translate(0, -55%);
  left: 20px;
  width: 69%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), 94%, rgba(0,0,0,0));
}

.ListItemDone .ListItemText {
  text-decoration: line-through;
}

.ListItemDate {
  font-size: 75%;
  color: #aaaaaa;
  position: absolute;
  top: 50%;
  transform: translate(0, -55%);
  right: 22px;
}

#AddTodo {
  position: relative;
  margin-top: 15px;
}

#AddTodoInput {
  color: #101010;
  height: 40px;
  width: 80%;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
  font-size: 100%;
  padding: 0px 15px;
}

#AddTodoInput::placeholder {
  color: #999999;
}

#AddTodoSubmit {
  position: absolute;
  color: white;
  font-size: 300%;
  width: 56px;
  height: 56px;
  margin-left: 12px;
  margin-top: -8px;
  border: 0px;
  background-color: #00897b;
  border-radius: 28px;
  box-shadow: 0px 3px 10px 0px #888888;
  transition: 0.1s;
  user-select: none;
}

#AddTodoSubmit:hover {
  filter: brightness(1.5);
}

#AddTodoSubmit:active {
  top: 2px;
  box-shadow: 0px 1px 5px 0px #888888;
}

#AddTodoSubmit:focus {
  outline: none;
}

#TodoError {
  margin-top: 12px;
  margin-left: 10px;
  color: red;
}

#RemoveCompleted {
  position: absolute;
  right: 5px;
  top: 24px;
  background-color: #00acc1;
  color: white;
  font-size: 92%;
  width: 200px;
  padding: 8px 0px;
  text-align: center;
  border-radius: 10px;
  user-select: none;
  transition: 0.1s;
  transition-property: opacity;
}

#RemoveCompleted:hover {
  opacity: 0.8;
}

#RemoveCompleted:active {
  filter: brightness(0.8);
}

#Title {
  font-size: 160%;
  padding-left: 5px;
}